.container1 {
    /* Center the content */
    align-items: center;
    display: flex;
    justify-content: center;

    /* Background color */
    background-color: #bbb;

    /* Size */
    height: 40px;

    /* Use to position the corners */
    position: relative;
}

.container1__side {
    bottom: -10px;
    position: absolute;

    /* Displayed under the container1 */
    z-index: -1;

    /* Background */
    border: 20px solid #ccc;

}

.container1__side--left {
    /* Position */
    border-left-color: transparent;
    left: -31px;
}

.container1__side--right {
    /* Position */
    border-right-color: transparent;
    right: -31px;
}

.container1__triangle {
    position: absolute;
    top: 100%;

    border: 8px solid transparent;
    border-bottom-width: 0;
    border-top-color: #aaa;
}

.container1__triangle--left {
    border-right-width: 0;
    left: 0;
}

.container1__triangle--right {
    border-left-width: 0;
    right: 0;
}

table, tr, td, th{
    width: 100%;
    table-layout: fixed;
    font-family: 'Times New Roman', cursive;
}

th, td {
    border: 1px solid black;
    width: 25%;
    overflow: hidden;
}
.title {
    font-family: 'Times New Roman', cursive;
    padding-top: 50px;
    padding-right: 100px;
    padding-bottom: 50px;
    padding-left: 100px;
    font-size: 30px;
    font-style: italic;
    color: #00ccff;
    text-shadow: 1px 1px 2px black, 0 0 25px #ccf5ff, 0 0 5px #ccf5ff;
}

.checkbox{
    font-family: 'Times New Roman', cursive;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.TitleOfTable{
    font-family: 'Times New Roman', cursive;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.checkbox::after {
  content: "";
  clear: both;
  display: table;
}
.box {
    float: left;
    margin: 0px;
    width: 33.333%;
    padding: 0px;
    background-size: 500% 500%;
    min-height: 220px;
    min-width: 260px;
    height: auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.center1{
    padding-top: 8px;
    border-width:1px;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    min-height: 130px;
    max-width: 240px;
    min-width: 240px;
}
.left{
    padding-top: 14px;
    padding-left: 45px;
    border-width:1px;
    border: 2px solid black;
    border-radius: 5px;
    min-height: 130px;
    max-width: 240px;
    min-width: 240px;
}
.right{
    padding-top: 6px;
    padding-left: 15px;
    border-width:1px;
    border: 2px solid black;
    border-radius: 5px;
    min-height: 130px;
    max-width: 240px;
    min-width: 240px;
}
.body {

}
.submit{
    margin-top: 3px;
}
.input{
    background-color: transparent;
}
.TitleOfTable{
    border-bottom: 2px solid black;
}
.col-sm-4{
    border: 1px solid black;
    text-align: center;
    margin-bottom: 10px;
}

.form {
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
}
#phieutam {
  background-color: #ffffe6;
}
#xacnhan {
  background-color: #ffe6e6;
}
#hoanthanh {
  background-color: #d8f3e5;
}
#tbtamthu {
  background-color: #ffff99;
}
#tbxacnhan {
  background-color: #ff9999;
}
#tbhoanthanh {
  background-color: #9de1be;
}
#nutnhan {
    font-weight: bold;
}