<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tuan Ngay Thơ</title>
</head>
<body>
<nav>
    <div>
        <form action="" method="post">
            {% csrf_token %}
            <label for="lastModifiedFrom">Thời gian bắt đầu:</label>
            <input type="date" id="lastModifiedFrom" name="StartTime">
            <label for="toDate">Thời gian kết thúc:</label>
            <input type="date" id="toDate" name="EndTime">
            <input type="checkbox" id="thismonth" name="thismonth" value="true">
            <label for="thismonth">Tháng này</label>
            <input type="checkbox" id="luachonkhac" name="luachonkhac" value="false">
            <label for="thismonth">Lựa chọn khác</label>
            <br>
            <input type="checkbox" id="PT" name="checklist" value="Phiếu tạm">
            <label for="PT">Phiếu đặt tạm</label>
            <input type="checkbox" id="DXN" name="checklist" value="Đã xác nhận">
            <label for="DXN">Phiếu đặt đã xác nhận</label>
            <input type="checkbox" id="HT" name="checklist" value="Hoàn thành">
            <label for="HT">Phiếu đặt đã hoàn thành</label>
            <br>
            <input type="submit" value=" Xác Nhận ">
        </form>
    </div>
</nav>
<nav>

<!--    <table>-->
<!--            {% for item in DS %}-->
<!--                {% if item.statusValue == 'Phiếu tạm' %}-->
<!--                    <tr>-->
<!--                        <td>{{ item.customerName }}</td>-->
<!--                        <td>{{ item.purchaseDate }}</td>-->
<!--                        <td>{{ item.soldByName }}</td>-->
<!--                    </tr>-->
<!--                {% endif %}-->
<!--            {% endfor %}-->
<!--    </table>-->

</nav>
<br>
<table id="tbtamthu">
</table>
<br>
<table id="tbxacnhan">
</table>
<br>
<table id="tbhoanthanh">
</table>
<br>
<table id="tbtrangthai">
</table>
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/myscript.js' %}"></script>
</body>
</html>